.inputsec2{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 0;
}
.inputsec2 p{
    display: flex;
    margin-left: 120px;
}
.whiteSection2{
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    height: 450px;
}
.whiteSection2 div{
    background-color: white;
    width: 100%;
}
.blueSectionregister{
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: rgba(54, 170, 217, 1);
    height: 700px;  
}
.blueLogo{
    height: 70px;
    width: 100px;
    margin: 30px 0 0px 30px;
}
.whiteLogo{
    height: 50px;
    width: auto;
}
.whiteLogoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signupBtn2{
    display: flex;
    color: black;
    width: 50%;
    height: 45px;
    border-radius: 15px;
    font-size: 26px;
    font-family: "Roboto Extra Bold";
    justify-content: center;
    align-content: center;
    margin-left: 165px;
    padding-top: 8px;
    margin-top: 20px;
}
.padlock{
    width: 15px;
}
.inputFields{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:770px) {
    .registerform{
        margin-left: 30px;
    }
    .whiteLogo{
        margin-left: 20px;
        width: 100px;
        margin-top: 100px;
    }
    .signupBtn2{
        margin-left: 100px;
    }
    .whiteSection2{
        height: 350px;
    }
}
@media screen and (max-width:600px) {
    .registerform{
        margin-left: 0;
    }
    .signupBtn2{
        margin-left: 10px;
    }
    .blueSectionregister{
        width: 100%;
    }
    .whiteSection2{
        width: 100%;
    }
    .inputsec2 p{
        margin-left: 20px;
    }
    .signupBtn2{
        margin-left: 80px;
    }
}
