.carouselbody{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.carousel{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.car{
    width: 100%;
    height: auto;
}
.bukkaBanner{
    width: 100%;
}
.bukkaBannerSection{
    border-radius: 20px;
}
.searchbukka{
    width: 100%;
}
