/* .itemmain{
    border: 1px solid #00000033;
    height: 105px;
    border-radius: 10px;
    padding: 0px 10px 0 10px;
}
.itemTop{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: max-content;
    height: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: -20px;
}
.itemTop h2{
    font-weight: 700;
    font-size: 24px;
}
.itemTop h4{
    font-weight: 400;
    font-size: 18px;
}
.itemTop div h4{
    font-weight: 500;
    font-size: 18px;
}
.itemTop img{
    width: auto;
    height: 50px;
}
.itemTop div p{
    font-weight: 500;
    font-size: 20px;
    color: #158DBE;
}
.itemBottom{
    position: relative;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}
.itemBottom p{
    font-weight: 500;
    font-size: 24px;
    color: white;
    background-color: #36AAD9;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
} */