body{
    /* background-color: rgba(90, 88, 88, 0.148); */
    background-image: linear-gradient(135deg, #f5f7fa 0%, #36aad9 100%);
}
.orderBody{
    display: flex;
    flex-direction: column;
}
.orderSection{
    display: flex;
    justify-content: center;
}
.leftSection{
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 10px;

}
.rightSection{
    padding-left: 50px;
    padding-top: 20px;
}